
input{
    height : 20px;
}
body{
    text-align: center;
}

#burger{
    width: 500px;
    height: 500px;
    margin: auto;
}

#container{
    text-align: center;
    width : 90%;
    margin: auto;

}

li{
    list-style-position: inside;
}
#toEat{
    float: left;


}
#eaten{
    float: right;
}
#submitDiv{
    overflow: auto;
    clear:both;
}
